html {
  background-color: rgb(219, 125, 125);
}
body {
  margin: 0;
}
div ul {
  display: flex;
  margin-left: 40.7%;
  margin-top: 1.8%;
  /* width: 100%; */
  padding: 0;
}
div ul li {
  line-height: 40px;
  font-weight: 700;
  font-size: 14px;
  position: relative;
  float: left;
  font-family: "Lato";
  list-style: none;
  padding: 20px;
  margin-left: 5px;
  z-index: 2;
}
div ul li a {
  text-decoration: none;
  color: white;
  font: 16px regular;
  /* line-height: 40px; */
}
@font-face {
  font-family: regular;
  src: url(/font/Lato-Bold.ttf);
}
@font-face {
  font-family: Bold;
  src: url(/font/Lato-Black.ttf);
}
div ul li:hover a {
  color: #fcb900;
}
.header-logo-img {
  max-width: 100%;
  position: relative;
}
img {
  vertical-align: middle;
}
img {
  border: 0;
}
#icon-header {
  margin-top: -100px;
  margin-left: 200px;
}
#backgrond-img-div {
  margin-top: -6.5%;
  margin-left: -1%;
  margin-right: -0.5%;
  /* z-index: initial; */
  /* position: fixed; */
}
#backgrond-img {
  z-index: -999;
  position: fixed;
  /* display: inline; */
  width: 100%;
  height: 100%;
  margin-left: 14px;
  overflow: hidden;
}
.div1 {
  z-index: 5;
  margin-top: 150px;
  width: 100%;
}
#h-top {
  margin-left: 22%;
  margin-top: 23.5%;
}
#h1-top {
  font-family: Bold;
  margin: 0 0 29px 0;
  line-height: 84px;
  font-weight: 700;
  font-size: 80px;
  color: #fff;
}
div h1 span {
  color: #fcf800;
}
#p-top {
  width: 735px;
  margin-left: 8%;
  color: #fff;
  line-height: 26px;
  margin-bottom: 60px;
  font-size: 16px;
  color: #fff;
  font-family: "Lato";
  font-weight: 400;
  text-align: center;
  /* position: relative; */
}
#button-top {
  position: absolute;
  left: 34%;
}
#h-top {
  margin-left: 20%;
}
#button-1 {
  cursor: pointer;
  width: auto;
  height: 57px;
  line-height: 57px;
  background: rgba(0, 0, 0, 0.2);
  margin: 0 -20px;
  padding: 0 70px;
  display: inline-block;
  border: 3px solid #fff;
  border-radius: 3px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-family: "Lato";
  min-width: 100px;
  text-decoration: none;
  text-align: center;
}
#button-1:hover {
  background-color: rgba(255, 255, 255, 0);
}
#button-2 {
  width: auto;
  height: 63px;
  line-height: 63px;
  background: #f1d204;
  margin: 0 50px;
  padding: 0 70px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
  font-family: Lato;
  min-width: 100px;
  text-align: center;
}
#button-2:hover {
  background-color: #6a4d8a;
}
#div3 {
  background-color: #fff;
  margin-top: 20%;
  height: 484px;
  width: 100%;
  /* display: inline; */
  /* margin-left: -0.5%; */
  /* margin-right: auto; */
  position: relative;
}
.h3 {
  position: relative;
  text-align: center;
  font-family: Bold;
  /* padding: 50px; */
  font-size: 40px;
  color: #545454;
  line-height: 38px;
  font-weight: 700;
  margin-bottom: 55px;
  /* margin-top: 85px; */
}
#aboutmargintop {
  top: 30px;
}
.h3-p {
  width: 63%;
  text-align: center;
  margin-left: 20%;
  line-height: 26px;
  font-size: 16px;
  color: #8c9597;
  font-family: "Lato";
  font-weight: 400;
}
#div4 {
  position: absolute;
  width: 100%;
  background-color: #00000081;
  background-image: url(./image/img2.jpg);
  height: 578px;
  z-index: -999;
}
#p-leftmargin {
  margin-top: -45px;
  margin-left: 18.5%;
}
.row > div {
  z-index: 1;
  margin-top: 13%;
  height: 50px;
}
.col-1 {
  width: 25%;
}
.col-floatleft {
  float: left;
}
.img-col {
  width: 100%;
  height: 379px;
}
.img-col:hover {
  filter: blur(5px);
  transition-delay: 0.3s;
  transition-duration: 0.5s;
}
#div6 {
  width: 100%;
  margin-top: 519px;
  height: 667px;
  position: relative;
  background-image: url(/image/testiomnials-background.jpg);
}
.h3-3 {
  text-align: center;
  font-family: Bold;
  /* padding: 50px; */
  font-size: 40px;
  color: #fff;
  line-height: 42px;
  font-weight: 700;
  margin-bottom: 55px;
  /* margin-top: 7%; */
  padding-top: 100px;
}
#icon-div6 {
  text-align: center;
  margin-left: 700px;
  border-radius: 50%;
}
.p2 {
  width: 899px;
  height: 71px;
  text-align: center;
  /* margin-left: 20%; */
  line-height: 26px;
  font-size: 16px;
  color: #fff;
  font-family: "Lato";
  font-weight: 400;
  padding-left: 20px;
}
#p2-div6 {
  background-color: #6a4d8a;
  width: 930px;
  height: 100px;
  padding: 40px 35px 25px;
  margin-left: 255px;
  margin-top: 50px;
}
#h6-1 {
  text-align: center;
  font-family: Bold;
  font-size: 20px;
  color: #fff;
  line-height: 24px;
  font-weight: 700;
  margin-top: 70px;
}
#div7 {
  width: 100%;
  height: 475px;
  position: absolute;
  background-color: #fff;
}
#h3-div7 {
  color: #545454;
  margin-top: -30px;
}
#p2-div7 {
  color: #8c9597;
  margin-left: 290px;
  margin-top: -48px;
}
#div7-div1 {
  float: left;
  display: flex;
  margin-left: 120px;
}
@font-face {
  font-family: Poppins;
  src: url(/font/Poppins-Bold.ttf);
}
.h5-div7 {
  font-size: 23px;
  line-height: 32px;
  font-weight: 700;
  font-family: Poppins;
  text-align: center;
  margin-left: 15px;
}
#h5-div7-color1 {
  color: rgb(241, 139, 109);
}
#h5-div7-color2 {
  color: rgb(241, 210, 4);
}
#h5-div7-color3 {
  color: rgb(106, 77, 138);
}
.div7-1 {
  padding-left: 25px;
}
.p-div7 {
  width: 360px;
  height: 104px;
  text-align: center;
  /* margin-left: 20%; */
  line-height: 26px;
  font-size: 16px;
  color: #8c9597;
  font-family: "Lato";
  font-weight: 400;
  padding-left: 20px;
  margin-top: -15px;
}
#div8 {
  margin-top: 476px;
  width: 100%;
  height: 994px;
  /* height: 800px; */
  background-color: #222f36;
  position: relative;
}
.div8-p1 {
  /* width: 360px; */
  /* height: 104px; */
  text-align: center;
  /* margin-left: 20%; */
  line-height: 26px;
  font-size: 16px;
  color: #8c9597;
  font-family: "Lato";
  font-weight: 400;
  padding-left: 20px;
  margin-top: -45px;
}
#div8-button {
  width: auto;
  min-height: 45px;
  line-height: 45px;
  background: #f1d204;
  margin-bottom: 50px;
  padding: 0 35px;
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  color: #f7f7f7;
  border-radius: 3px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-family: "Lato";
  text-decoration: none;
  margin-left: 700px;
  margin-top: 50px;
}
#div8-button:hover {
  background-color: #6a4d8a;
}
.div8-1 {
  width: auto;
  float: left;
  display: flex;
  margin-left: 190px;
}
#div8-1-1 {
  /* float: left; */
  background-color: #fff;
  margin-right: 30px;
  width: 360px;
  height: 553px;
}
#div8-1-2 {
  margin-right: 30px;
  background-color: #fff;
  /* float: left */
  width: 360px;
  height: 585px;
}
#div8-1-3 {
  margin-right: 30px;
  background-color: #fff;
  /* float: left; */
  /* margin: 10px; */
  width: 360px;
  height: 553px;
}
.div8-1-h5 {
  color: #5e5e5e;
  font-size: 23px;
  line-height: 32px;
  font-weight: 700;
  font-family: Poppins;
  text-align: center;
  margin-left: 35px;
  text-align: start;
}
.div8-1-p {
  margin-left: 35px;
  text-align: start;
  /* margin-left: 20%; */
  line-height: 26px;
  font-size: 16px;
  color: #8c9597;
  font-family: "Lato";
  font-weight: 400;
  width: 300px;
}
.div8-textdecuration {
  text-decoration: none;
  color: #5e5e5e;
}
.div8-textdecuration:hover {
  color: #f1d204;
  transition-duration: 0.5s;
}
#div8-1-height {
  /* height: 585px; */
  height: 585px;
}
/* moz */
